// Z-INDEX
$navbar-z-index: 2;
// Z-INDEX

// COLORS
$blue: #0093e0;
$yellow: #fbaf00;
$gray: #e9e9e9;
$pink: #bf7271;
$black: #262626;

$primero: #0093e0;
$segundo: #fbaf00;
$tercero: #e9e9e9;
$cuarto: #bf7271;
$quinto: #262626;
// COLORS
