// Z-INDEX
$navbar-z-index: 2;
// Z-INDEX

// COLORS
$gray: #e9e9e9;
$black: #262626;

$primero: #0093e0;
$segundo: #fbaf00;
$tercero: #e9e9e9;
$cuarto: #bf7271;
$quinto: #262626;
// COLORS

// SECOND COLORS //

$beige: #e5d5c5;
$gray: #e9e9e9;
$blue: #0093e0;
$yellow: #f8da18;
$pink: #e3b4db;
$green: #669f63;
$orange: #f18e25;

// Z-INDEZ POSITIONING MAIN PHOTO AND BUBBLES AROUND IT
$zindex-main-foto: 2;
$zindex-bubble-front: 3;
$zindex-bubble-behind: 1;
