#root {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
  height: 100svh;
  margin: 0 auto;
}
.main_content {
  display: grid;
  justify-items: center;
  .main_content_title {
    margin-top: 100px;
  }
  .section {
    display: relative;
    width: 100vw;
  }
}
