@import "./variables";

#home {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  overflow: hidden;
  #background_container {
    position: absolute;
    inset: 0;
    background-color: $gray;
    .bg_buble {
      position: absolute;
      width: 60vb;
      height: 60vb;
      border-radius: 100%;
      filter: blur(50px);
    }
    #bg_bubble_bottom {
      bottom: -10%;
      right: -10%;
      background-color: $yellow;
    }
    #bg_bubble_top {
      left: -10%;
      top: -10%;
      background-color: $blue;
    }
  }
}

#img_container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  #main_foto {
    position: relative;
    bottom: 0px;
    width: 900px;
    z-index: $zindex-main-foto;
  }
  @media only screen and (max-width: 768px) {
    #main_foto {
      width: 150%;
    }
  }
  // BUTTONS
  .home_bubble {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 4rem;
    // INDEPENDENT CODE, FIX FOR EACH ELEMENT
    transform: rotate(5grad);
    // z-index: $zindex-bubble-front;
    &:hover {
      cursor: pointer;
      p {
        transition: ease 500ms initial;
        background-color: white;
      }
    }
    p {
      background-color: $blue;
      margin: 0;
      line-height: 1;
      padding: 10px 3.5rem;
      border: 4px solid black;
      border-radius: 40px;
    }
    p:first-child {
      margin-bottom: -15px;
      z-index: 1;
    }
  }
}

// MASKING FOR GRADIENT
// mask-image: linear-gradient(
//   0deg,
//   rgba(0, 147, 224, 0.011664040616246485) 0%,
//   rgba(0, 147, 224, 1) 53%
// );
