@import "./variables";

#home {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

#img_container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  #main_foto {
    min-width: 40vw;
    position: relative;
    bottom: 0px;
    z-index: $zindex-main-foto;
  }
  // BUBBLES
  .home_bubble {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 3rem;
    z-index: 2;
    p {
      margin: 0;
      line-height: 1;
      padding: 10px 3.5rem;
      border: 3px solid black;
      border-radius: 40px;
    }
    p:first-child {
      margin-bottom: -15px;
      z-index: 1;
    }
  }

  @media only screen and (max-width: 768px) {
    .home_bubble {
      font-size: 2.5rem;
      p {
        border: 2px solid;
        padding: 5px 20px;
      }
    }
  }
}

// MASKING FOR GRADIENT
// mask-image: linear-gradient(
//   0deg,
//   rgba(0, 147, 224, 0.011664040616246485) 0%,
//   rgba(0, 147, 224, 1) 53%
// );
