@import "./variables";

.main_content {
  overflow: hidden;
  display: grid;
  width: 95%;
  .main_content_title {
    text-align: center;
    font-size: 5rem;
    margin: 0;
    text-transform: uppercase;
  }
}
