@import "./variables";

.web_project {
  padding: 3%;
  margin: 10px 20px;
  border: 2px $primero solid;
  border-radius: 20px;
  .project_img {
    width: 25%;
    margin: 1%;
  }
  h2,
  p {
    margin: 0;
  }
}
